* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#my-name {
    font-size: 30px;
}

nav {
    padding: 30px 15px 15px 15px ;
}

nav a {
    font-size: 24px;
    margin: 0 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}